body {
    background-color: #333;
    background-image: url("../images/strength-in-motion-stockcake.jpeg");
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    margin: 0;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Ensure content doesn't overflow and cause scrollbars */
  html, body {
    overflow-x: hidden;
  }


 nav ul li a {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    color: #ff6347;
  }

#calculator
{
    background-color: rgba(51,51,51,0.9);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#calculator div {
    
    margin-bottom: 15px; /* Add spacing between form fields */
}

#calculator label {
    display: block; /* Make labels block-level for better alignment */
    margin-bottom: 5px; /* Add spacing between label and input */
    font-weight: bold;
}

#calculator input,
#calculator select {
    width: 100%; /* Make inputs and select fields take up full width */
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #444;
    color: white;
    box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

#calculator button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498DB;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; /* Add spacing above the button */
}

#calculator button:hover {
    background-color: #2980B9;
}

.outputs{
    display:flex;
    flex-direction: column; /* or row, depending on your layout */
    gap: 10px; /* Adjust the gap between items */
}

.outputs label {
    margin-right: 2px; /* Adjust the space between the label and the output */
}