body {
    background-color: #333;
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.8em;
}

nav ul li a:hover {
    color: #ff6347;
}

#calculator {
    background-color: rgba(51, 51, 51, 0.9);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#calculator div {
    margin-bottom: 15px;
}

.calculatorform label 
{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#calculator input,
#calculator select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #444;
    color: white;
    box-sizing: border-box;
}

#calculator button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498DB;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

#calculator button:hover {
    background-color: #2980B9;
}

.outputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.outputs label{
    margin-bottom: -5px;
}